#main{ 
  width:50%; 
  height:20vh; 
} 
.left-column{ 
  float:left; 
  width: 50% //if you want to split exactly half of the page 
} 
.right-column{ 
  float:right; 
  width: 50% //if you want to split exactly half of the page 
} 
//width is according to how much left-column you want, how much right-column you want 